{% if filterForm is defined %}
    {% include 'Brown298DataTablesBundle:Form:table.html.twig' %}
{% else %}
<table class="{{ params['table_class'] }}" id="{{ params['id'] }}">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column|trans({}, translation_domain) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endif %}
